@font-face {
    font-family: 'Roboto';
    /* font-family: 'Roboto'; */
    src: url('../fonts/Roboto-Regular.ttf');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto';
    /* font-family: 'Roboto'; */
    src: url('../fonts/Roboto-Light.ttf');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }